<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI1">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI2">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI3">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI4">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI5">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI6">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI7">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI8">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI9">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI10">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI11">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI12">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI13">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI14">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI15">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI16">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI17">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI18">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI19">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI20">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI21">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI22">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI23">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI24">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI25">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI26">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI27">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI28">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IBIW_SFM_GUI29">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.TUP_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI"
                contract="BIW_SFM_TUP.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.TPF_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI1"
                contract="BIW_SFM_TPF.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI1" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.TEA_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI2"
                contract="BIW_SFM_TEA.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI2" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.SPJ_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI3"
                contract="BIW_SFM_SPJ.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI3" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.SPG_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI4"
                contract="BIW_SFM_SPG.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI4" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.SCE_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI5"
                contract="BIW_SFM_SCE.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI5" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.SCC_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI6"
                contract="BIW_SFM_SCC.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI6" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PRS_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI7"
                contract="BIW_SFM_PRS.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI7" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PRD_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI8"
                contract="BIW_SFM_PRD.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI8" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PPS_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI9"
                contract="BIW_SFM_PPS.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI9" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PPP_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI10"
                contract="BIW_SFM_PPP.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI10" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PPD_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI11"
                contract="BIW_SFM_PPD.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI11" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PPCS_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI12"
                contract="BIW_SFM_PPCS.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI12" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PPCD_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI13"
                contract="BIW_SFM_PPCD.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI13" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PPA_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI14"
                contract="BIW_SFM_PPA.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI14" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PLS_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI15"
                contract="BIW_SFM_PLS.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI15" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PLD_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI16"
                contract="BIW_SFM_PLD.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI16" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PLCS_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI17"
                contract="BIW_SFM_PLCS.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI17" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PLCD_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI18"
                contract="BIW_SFM_PLCD.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI18" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.PAN_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI19"
                contract="BIW_SFM_PAN.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI19" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.OFS_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI20"
                contract="BIW_SFM_OFS.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI20" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.OFD_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI21"
                contract="BIW_SFM_OFD.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI21" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.FSA_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI22"
                contract="BIW_SFM_FSA.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI22" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.FPS_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI23"
                contract="BIW_SFM_FPS.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI23" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.FDA_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI24"
                contract="BIW_SFM_FDA.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI24" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.AUE_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI25"
                contract="BIW_SFM_AUE.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI25" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.COF_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI26"
                contract="BIW_SFM_COF.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI26" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.AUC_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI27"
                contract="BIW_SFM_AUC.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI27" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.FPD_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI28"
                contract="BIW_SFM_FPD.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI28" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.AUC_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI29"
                contract="BIW.IBIW_SFM_GUI" name="WSHttpBinding_IBIW_SFM_GUI29" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.TUP_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI"
                contract="BIW.IBIW_SFM_GUI" name="IBIW_SFM_GUI" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.TPF_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI"
                contract="BIW.IBIW_SFM_GUI" name="IBIW_SFM_GUI1" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.TEA_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI"
                contract="BIW.IBIW_SFM_GUI" name="IBIW_SFM_GUI2" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.SPJ_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI"
                contract="BIW.IBIW_SFM_GUI" name="IBIW_SFM_GUI3" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.SPG_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI"
                contract="BIW.IBIW_SFM_GUI" name="IBIW_SFM_GUI4" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.SCE_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI"
                contract="BIW.IBIW_SFM_GUI" name="IBIW_SFM_GUI5" />
            <endpoint address="http://abrgoa01apcp03d/BIW_SFM/C191.C191CLA.SCC_001"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBIW_SFM_GUI"
                contract="BIW.IBIW_SFM_GUI" name="IBIW_SFM_GUI6" />
            <endpoint address="http://abrgoa01wbcc010.fiatauto.adfa.local/BIWService/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="BIW_WebApp_WCF.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>